.header {
    position: fixed;
    left:0;
    right:0;
    top:0;
    background-color: #fff;
    padding:20px;
    margin:0;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
}

.spacer {
    height: 70px;
    display: block;
}

.toggleModal {
    z-index: 9999;
    cursor: pointer;
}