<div class="header">
    <div class="header_item_logo"><a role="hoverState" (click)="this.navigate(View.Default)">XYZ</a></div>
    <div class="header_item_teaser">Selected Works</div>
    <div class="header_item_info">Design & Technology</div>
    <div class="header_item_view">
        <span class="navigation">

            <a role="hoverState" class="nav_item" [routerLink]="['']" [queryParams]="{view: View.Index }"
                (click)="this.viewMode(View.Index)">{{ View.Index | titlecase }}</a>

            <a role="hoverState" class="nav_item" [routerLink]="['']" [queryParams]="{view: View.Grid }"
                (click)="this.viewMode(View.Grid)">{{ View.Grid | titlecase }}</a>
        </span>

        <a class=" icon_github" href="https://github.com/polychrom/xyz.spaceframe.io" target="_blank">
            <img role="hoverState" alt="github icon" src="../../assets/icons/github.svg" height="20">
        </a>
    </div>
</div>


<span *ngIf="this.active" class="circle" [ngStyle]="{'left': this.posX, 'top': this.posY }"></span>