h3 {
  //text-transform: uppercase;
  margin: 0;
  font-size: 20px;
}

.pdp {
}

.intro {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

img {
  margin: 50px 0;
}

.title {
  padding: 0 14px;
  grid-column: 1 / 2;
}

.year {
  grid-column: 2 / 3;
  font-size: 20px;
  padding: 0 14px;
}

.text {
  grid-column: 3 / 6;
  padding: 0 14px;
  font-size: 20px;
}
