p {
    font-size: 30px;
}

h2 {
    font-size: 24px;
    color: #0000ff;
}

.gallery_wrapper {
    display: flex;
    flex-flow: row wrap;
    margin-top: 90px;
}

.gallery_item {
    margin: 10px;
    width: 200px;
    height: 500px;
    background-color: #eee;
    border-radius: 6px;
    cursor: pointer;
}


.gallery_list {
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid #000;
    cursor: pointer;
}

.gallery_list:first-child {
    border-top: 1px solid #000;
}

.toggle {
    cursor: pointer;
}

#reset {
    background-color: #fff;
    border: none;
    cursor: pointer;
}
.animation {
    /*background: #CCC;*/
    animation-duration: 1s;
    animation-name: changeShadow;
    animation-iteration-count: 1;
    animation-direction: alternate;
}
@keyframes changeShadow {
    from {
        background-color: #0000ff;
    }
    to {
        background-color: #fff;
    }
}

#input_search {
    border: 1px solid #000;
    height: 60px;
    width: 300px;
    outline: none;
}