$small: 600px;
$medium: 900px;

.view_index {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  border-bottom: 1px solid #000000;
  margin: 20px 0;
  cursor: pointer;
  font-size: 30px;
}

.view_index_title {
  grid-column: 3 / 5;
}

.view_index_year {
  grid-column: 8 / 9;
}

#view_linear {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.item_title {
  grid-column: 3 / 5;
  margin: 100px 0 40px 0;
  text-transform: capitalize;
}

.item_text {
  grid-column: 6 / 10;
  margin: 100px 0 40px 0;
  line-height: 120%;
}

img {
  width: 100%;
  height: auto;
  object-fit: contain;
  margin: 0;
}
