:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-blue: #0000ff;
  --color-red: #ff0000;
}

body {
  margin: 0;
  padding: 0;
  color: var(--color-black);
  font-family: "Space Grotesk", sans-serif;
  font-size: 30px;
  font-weight: 500;
}

h1 {
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 0.2em;
  //cursor: pointer;
  color: #2c2c2c;
}

li {
  font-size: 14px;
  font-weight: 400;
  border-radius: 30px;
  color: var(--color-black);
  border: 1px solid var(--color-black);
  display: inline-block;
  padding: 5px 15px;
  margin: 5px;
  list-style-type: none;
}

ul {
  padding: 0;
  margin: 0;
}

#chapter-head {
  display: grid;
  margin: 0;
  place-items: end center;
  height: 100%;
  width: 100vw;
  background-image: url("../assets/header3.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: fixed;
  z-index: -2;
}

#chapter-wrapper {
  min-height: 100vh;
  position: relative;
  width: 10px;
}

.header {
  margin: 30px 0 0 0;
  position: fixed;
  display: flex;
  width: 100vw;
  justify-content: space-evenly;
  color: var(--color-blue);
  font-size: 24px;
}

.logo {
  width: 150px;
}

.intro {
  position: absolute;
  padding: 30px;
  background-color: var(--color-black);
  background-color: #ee82ee;
  z-index: 1;
  right: 0;
  bottom: 0;
  left: 0;
  width: 200px;
  margin: 0 auto;
  text-align: center;
}

.year {
  font-size: 18px;
}

.btn {
  font-size: 20px;
  background-color: var(--color-black);
  color: var(--color-white);
  cursor: pointer;
  display: inline-block;
  border-radius: 25px;
  padding: 10px 20px;
  font-weight: 400;
}

.btn:hover {
  background-color: #0000ff;
}

article {
  font-size: 16px;
  font-weight: 400;
}

.text {
  margin: 0 20vw;
}

.fas {
  cursor: pointer;
  font-size: 24px;
  color: var(--color-blue);
}

.fas:hover {
  color: var(--color-white) !important;
}

.fas:active {
  color: var(--color-blue);
}

#info {
  width: 80px;
  text-align: right;
  display: inline-block;
}

footer {
  display: grid;
  align-items: flex-end;
  height: 100vh;
  color: var(--color-blue);
  background-color: var(--color-black);
  margin: 0;
  font-size: 24px;
}

.project {
  text-align: center;
  height: 100vh;
  padding: 10vh 10vw;
  color: var(--color-black);
  z-index: 99;
  font-size: 20px;
  background-color: var(--color-white);
  transition: height 1s ease;
}

.gallery {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.gallerytoggle {
  justify-content: flex-start;
  display: inline;
}

.gallery img {
  margin: 0 10px;
}

/* TOGGLE GALLERY TO LIST AND BACK */

.table {
  border-bottom: 1px solid #000000;
  height: 120px;
  padding: 10px;
  font-size: 16px !important;
  transition: height 1s linear;
  background-color: #ccc !important;
}

.list img {
  height: 50px;
  transition: height 1s linear;
}

.gif {
  display: grid;
  text-align: center;
  align-items: center;
  background-image: url("../img/run/run.gif");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  height: 70vh;
  color: var(--color-white);
  font-size: 30px;
}

:focus {
  outline: none;
}

a {
  color: var(--color-blue);
}
