<div id="nav_wrapper">
    <div class="close" (click)="closeModal()">
        <img src="assets/icons/xmark-solid.svg" height="20">
    </div>

    <div class="navigation">
        <nav>
            <li><a routerLink="stack" routerLinkActive="active">stack</a></li>
            <li><a routerLink="info" routerLinkActive="active">info</a></li>
            <li><a routerLink="msg" routerLinkActive="active">message</a></li>
        </nav>
        <div class="cockpit">
            <li>project views: {{ this.projectViews ? this.projectViews : '0' }}</li>
            <li (click)="this.helperService.navigateByRoute(item)" class="links"
                *ngFor="let item of projectsViewed | slice:-3; index as i">
                {{ item }}
            </li>
        </div>
    </div>
</div>